/* sibling base */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* angle property */

@property --angle {
	syntax: "<angle>";
	initial-value: 0deg;
	inherits: false;
}

/* bg blur */

::before {
	opacity: 80%;
	pointer-events: none;
	content: attr(data-text);
	position: absolute;
	-webkit-filter: blur(var(--blur-mid));
	filter: blur(var(--blur-mid));
}

.background-col-main {
	height: 100dvh;
	width: 100%;
	background-color: var(--secondary-color);
	z-index: -1;
	position: absolute;
}

.header-bg {
	background-image: linear-gradient(var(--primary-color) 40%, #00000000);
	width: 100%;
	height: 20dvh;
	position: absolute;
}

header {
	isolation: isolate;
	padding: var(--padding-normal);
}

nav {
	display: flex;
	justify-content: space-around;
	flex: 1 1 0;
	background-color: #ffffff75;
	padding: var(--padding-semilarge) var(--padding-massive);
	backdrop-filter: blur(var(--blur-big));
	border-radius: var(--rounded);
	box-shadow: 0 0 var(--blur-big) #7a7a7a27;
	align-items: center;
}

nav a,
.text-header {
	font-size: var(--medium);
	letter-spacing: var(--tiny);
	color: #fff;
}

.text-header {
	text-shadow: 0 4px var(--blur-mid) #ffffffad;
	transform: translateY(5px);
}

nav a:nth-child(1) {
	text-shadow: -4px 3px var(--blur-small) var(--blur-clr);
}

a {
	text-decoration: none;
	color: var(--link-color);
	transition: all 0.2s ease;
	transition-behavior: allow-discrete;
}

a:hover {
	text-decoration: underline solid 2px var(--link-color);
	transform: translateY(-5px);
}

#search-bar {
	background-color: var(--lemon-clr);
	border: solid 3px var(--honey);
	border-radius: var(--smal-rounded);
	padding: var(--padding-small) var(--padding-xsmall);
}

#search-bar::placeholder {
	font-family: "Poppins", sans-serif;
	color: rgba(27, 27, 27, 0.63);
}
